@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}

html {
    font-family: 'Syne Mono', monospace;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


li {
    list-style: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}



body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 100%;
	animation: gradient 15s ease infinite;
    display: grid;
    justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.body{
    margin: 3px;
    width: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.295);
    /* border: 1px solid; */
}

.icon{
    height: 125px;
    width: 125px;
    border: solid 2px black;
    border-radius: 25px;
    margin-top: 25px;
}

.name{
    font-weight: 1000;
    margin-top: 2px;
    color: black;
}

.cont{
    padding: 10px;
}

#port{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #454545;
    color: white;
    justify-items: center;
}
#fb{
    height: 45px;
    width: 60%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #4773ec;
    color: white;
}

#fbpg{
    height: 45px;
    width: 30%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #4773ec;
    color: white;
}

#insta{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #be2bdb;
    color: white;
}

#twitt{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #00acee;
    color: white;
}

#linked{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #0b5e86;
    color: white;
}

#yt{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #d71e18;
    color: white;
}

#Blog{
    height: 45px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #ffaa00;
    color: white;
}